@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

/*-----------------------------------------NAV BAR-------------------------------------------------*/

@media screen and (max-width: 359px) {
    nav {
        background-color: rgb(1, 31, 78);
        width: 100%;
        font-size: 35px;
        top: 0;
        left: 0;
        position: fixed;
    }
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column; 
        text-align: center;
        flex-wrap: wrap;
        margin: 5px;
    }

    .title img
    {
        margin-top: 60px;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px)
{ 
    nav
    {
        background-color: rgb(1, 31, 78);
        width: 100%;
        font-size: 36px;
        top: 0;
        left: 0;
        position: fixed;
    }

    nav ul 
    {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
        margin: 5px;
    }

}
@media screen and (min-width: 768px) and (max-width: 1199px)
{
    nav
    {
        width: 100%;
        background-color: rgb(1, 31, 78);
        font-size: 34px;
        top: 0;
        left: 0;
        position: fixed;
        
    }    

    nav ul 
    {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
        margin: 5px;

    }   
}

@media screen and (min-width : 1200px)
{
    nav
    {
        width: 100%;
        background-color: rgb(1, 31, 78);
        font-size: 32px;
        top: 0;
        left: 0;
        position: fixed;
    }
    nav ul 
    {

        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
        margin: 5px;
    }     
}

.spacer
{
    height :60px;
}

nav ul li a 
{
    text-decoration: none;
    color: white;
   
    transition: background-color 0.3s;
}

nav ul li a:hover 
{
    background-color: #df7e00;
    padding-bottom: 7px;
    border-radius: 5px;
}
/*-----------------------------------------Body---------------------------------------------------*/
body{
    background-color: rgb(7, 6, 10);

}

.title
{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.title img
{
    width: 40%;
}


/*----------------------------------------Footer---------------------------------------------------*/
.space
{
    margin-top: 2000px;
}

footer 
{
    background-color: rgb(7, 18, 36);
    opacity: 80%;
    width: 100%;
    font-family: Pridi;
    color: #ddd;
    padding: 20px;
    border-top: 3px solid rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


.footer 
{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.footer img 
{
    width: 15%;
    margin-right: 20px;
}


.footer-content 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer-content p 
{
    margin: 5px 0;
}

#git 
{
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

#git li 
{
    display: inline;
    margin-right: 10px;
}
/*----------------------------------------HOMEPAGE-------------------------------------*/


