@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

/*-----------------------------------------NAV BAR-------------------------------------------------*/

@media screen and (max-width: 359px) {
    nav {
        background-color: rgb(1, 31, 78);
        width: 100%;
        font-size: 35px;
        top: 0;
        left: 0;
        position: fixed;
    }
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column; 
        text-align: center;
        flex-wrap: wrap;
        margin: 5px;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px)
{ 
    nav
    {
        background-color: rgb(1, 31, 78);
        width: 100%;
        font-size: 20px;
        top: 0;
        left: 0;
        position: fixed;
    }

    nav ul 
    {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
        margin: 5px;
    }

}
@media screen and (min-width: 768px) and (max-width: 1199px)
{
    nav
    {
        width: 100%;
        background-color: rgb(1, 31, 78);
        font-size: 34px;
        top: 0;
        left: 0;
        position: fixed;
        
    }    

    nav ul 
    {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
        margin: 5px;

    }   
}

@media screen and (min-width : 1200px)
{
    nav
    {
        width: 100%;
        background-color: rgb(1, 31, 78);
        font-size: 32px;
        top: 0;
        left: 0;
        position: fixed;
    }
    nav ul 
    {

        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
        margin: 5px;
    }     
}

nav
{
    z-index: 1000;

}

nav ul li
{
    margin-left: -50px;
}

.spacer
{
    height :60px;
}


nav ul li a 
{
    text-decoration: none;
    color: white;
   
    transition: background-color 0.3s;
}

nav ul li a:hover 
{
    background-color: #df7e00;
    padding-bottom: 7px;
    border-radius: 5px;
}
/*-----------------------------------------Body---------------------------------------------------*/
body{
    background-color: rgb(7, 6, 10);

}
.title img{
    background-color: rgb(255, 255, 255);
    padding: 40px;
    opacity: 80%;
    border-radius: 45px;
    position:relative;
    border: 2px solid rgb(0, 208, 245);
}
.title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px dotted white;
    border-radius: 50px;
    padding-top: 15px;

}

.titlepara
{
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    font-family: Pridi;
    flex-wrap: nowrap;
    
}

#first
{
    text-decoration:dotted;
    font-size: 40px;
    font-style: italic;
    font-family: Pridi;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 75, 145, 0.699);
    
}

.atmosphere
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.atmosphere p
{
    margin-top: 50px;
    display: flex;
    color: #ddd;
    font-family: Pridi;
    font-size: 20px;

}
.atmosphere img
{
    width: 600px;
    display: flex;
    border-radius: 50px;
    border-radius: 45px;
    position:relative;
    border: 2px solid rgb(255, 255, 255);
}

@media screen and (max-width: 359px)
{
    .title img
    {
        width : 200px;
        margin-top: 80px;

    }
    .titlepara
    {
        font-size:13px;
    }
    #first
    {
        font-size: 30px;
    }
    .atmosphere p
    {
        font-size:13px;
    }
    .atmosphere img
    {
        width: 300px;
    }
   
}

@media screen and (min-width: 360px) and (max-width: 767px)
{
    .title img
    {
        width : 200px;
        margin-top: 35px;
    }
    .titlepara
    {
        font-size:16px;
    }
    #first
    {
        font-size: 34px;
    }
    .atmosphere p 
    {
        font-size:16px;
    }
    .atmosphere img
    {
        width: 400px;
    }
    .content .content1
    {
        width: 400px;
    }
    .content .content1 img
    {
        width: 300px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px)
{
    .title img
    {
        width : 250px;
        margin-top : 25px;
    }
    
}

@media screen and (min-width : 1200px) 
{
    .title img
    {
        width :300px
    }
}
.content
{   
    border-top: #ddd dotted 2px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-top: 50px;

}

.content .content1
{
    display: flex;
    background-color: rgba(22, 65, 105, 0.699);
    padding: 50px 5px 50px 5px ;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    width: 600px;
    border-radius: 15px;
    border : white solid 2px;
    
    
}
.content .content1 p
{
    display: flex;
    text-align: center;
    color: #ddd;
    font-size: 19px;
    font-family: Pridi;
    
}

.content .content1 img
{
    width: 500px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: black solid 4px;
    
}

.content .content2
{
    display: flex;
    flex-direction: column;
    background-color: rgba(22, 65, 105, 0.699);
    padding: 50px 5px 50px 5px ;
    align-items: center;
    width: 600px;
    border-radius: 15px;
    border : white solid 2px ;
    margin-top: 25px;

}

.content2 img
{
    width : 500px;
    border-radius: 15px;
    border: black solid 4px;
}

.content .content2 p
{
    display: flex;
    text-align: center;
    color: #ddd;
    font-size: 19px;
    font-family: Pridi;
}




/*----------------------------------------Footer---------------------------------------------------*/
.space
{
    margin-top: 2000px;
}

footer 
{
    background-color: rgb(7, 18, 36);
    opacity: 80%;
    width: 100%;
    font-family: Pridi;
    color: #ddd;
    padding: 20px;
    border-top: 3px solid rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


.footer 
{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.footer img 
{
    width: 15%;
    margin-right: 20px;
}


.footer-content 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer-content p 
{
    margin: 5px 0;
}

#git 
{
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

#git li 
{
    display: inline;
    margin-right: 10px;
}
/*----------------------------------------HOMEPAGE-------------------------------------*/


